# Core Streamlit
streamlit>=1.37.0

# Whisper model
transformers>=4.23.1,<4.50

torch>=2.2.0
torchaudio>=2.2.0

# Audio + File utilities
soundfile>=0.12.1
numpy>=1.26.4
requests>=2.32.0

# Recorder (optional, auto-disabled if unavailable)
#git+https://github.com/stefanrmmr/streamlit-audiorec.git
streamlit-audiorec
# For better error formatting
rich>=13.7.0
